<div class="input-container">
    <form 
      (ngSubmit)="onEditPost()"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <app-title title="Edit Post"></app-title>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            title
          </label>
          <input 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            name="title"
            [(ngModel)] ="title"
            type="text">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Author Name
          </label>
          <input 
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="text"
            name="author"
            [(ngModel)] ="author"
            type="text">
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Category
          </label>
          <select 
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            name="category" [(ngModel)] = "category">
            <option value="other">Other</option>
            <option value="politics">Politics</option>
            <option value="education">Education</option>
            <option value="entertainment">Entertainment</option>
            <option value="technology">Technology</option>
          </select>
        </div>
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Post Details
          </label>
          <textarea 
            rows="4"
            class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
            name="description"
            [(ngModel)] = "description" required>
        </textarea>
        </div>
        <div class="flex items-center justify-between">
          <input
            type="submit"
            value="Submit Edit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">
        </div>
      </form>
</div>